<h1>Create client</h1>

<form [formGroup]="formClient" (submit)="submit()" novalidate>
  <mat-vertical-stepper #clientStepper>
    <mat-step formGroupName="personalData" [stepControl]="formPersonalData" errorMessage="Datos personales incompletos">
      <ng-template matStepLabel> 
        <b>Datos personales</b>
      </ng-template>

      <!-- La condicion ngIf es importante para el performance de carga del formulario al iniciar la aplicacion y el performance del flexbox -->
      <div *ngIf="clientStepper.selectedIndex == 0">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="40" fxFlex.md="40">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Nombre" formControlName="firstname" required>
            <mat-error *ngIf="formPersonalData.get('firstname').invalid">
              {{ formPersonalData.get('firstname').errors | errorMessage : { maxlength: [50] } }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="40" fxFlex.md="40">
            <mat-label>Apellido paterno</mat-label>
            <input matInput type="text" placeholder="Apellido paterno" formControlName="pLastname" required>
            <mat-error *ngIf="formPersonalData.get('pLastname').invalid">
              {{ formPersonalData.get('pLastname').errors | errorMessage : { maxlength: [50] } }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="40" fxFlex.md="40">
            <mat-label>Apellido materno</mat-label>
            <input matInput type="text" placeholder="Apellido materno" formControlName="mLastname" required>
            <mat-error *ngIf="formPersonalData.get('mLastname').invalid">
              {{ formPersonalData.get('mLastname').errors | errorMessage : { maxlength: [50] } }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px">
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="calc(50% - 15px)" fxFlex.md="calc(20.5% - 15px)">
            <mat-select placeholder="Género" formControlName="gender" required>
              <mat-option value="1">Hombre</mat-option>
              <mat-option value="2">Mujer</mat-option>
            </mat-select>
            <mat-error *ngIf="formPersonalData.get('gender').invalid">
              {{ formPersonalData.get('gender').errors | errorMessage }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="calc(50% - 15px)" fxFlex.md="calc(20.5% - 15px)">
            <mat-select placeholder="Estado civil" formControlName="maritalStatus" required>
              <mat-option value="1">Casado</mat-option>
              <mat-option value="2">Soltero</mat-option>
            </mat-select>
            <mat-error *ngIf="formPersonalData.get('maritalStatus').invalid">
              {{ formPersonalData.get('maritalStatus').errors | errorMessage }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="calc(50% - 15px)" fxFlex.md="calc(20.5% - 15px)">
            <mat-select placeholder="Escolaridad" formControlName="scholarship">
              <mat-option value="H">Primaria</mat-option>
              <mat-option value="M">Secundaria</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="calc(50% - 15px)" fxFlex.md="calc(20.5% - 15px)">
            <mat-select placeholder="Profesión" formControlName="profession">
              <mat-option value="H">Web developer</mat-option>
              <mat-option value="M">Abogado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
          <mat-form-field fxFlex.xs="100%" fxFlex.md="40">
            <mat-label>Clave de elector</mat-label>
            <input matInput type="text" placeholder="Clave de elector" formControlName="electorKey">
            <mat-error *ngIf="formPersonalData.get('electorKey').invalid">
              {{ formPersonalData.get('electorKey').errors | errorMessage }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.md="40">
            <mat-label>C.U.R.P</mat-label>
            <input matInput type="text" placeholder="C.U.R.P" formControlName="curp" required>
            <mat-error *ngIf="formPersonalData.get('curp').invalid">
              {{ formPersonalData.get('curp').errors | errorMessage : { pattern: ['la CURP'] } }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.md="40">
            <mat-label>R.F.C</mat-label>
            <input matInput type="text" placeholder="R.F.C (Con homoclave)" formControlName="rfc" required>
            <mat-error *ngIf="formPersonalData.get('rfc').invalid">
              {{ formPersonalData.get('rfc').errors | errorMessage : { pattern: ['el RFC'] } }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
          <mat-form-field fxFlex.xs="100%" fxFlex.md="50">
            <mat-label>Serie de firma electrónica</mat-label>
            <input matInput type="text" placeholder="Serie de firma electrónica (cuando disponga de ella)" formControlName="electronicSignature">
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.md="50">
            <mat-label>ID de familia prospera</mat-label>
            <input matInput type="text" placeholder="ID de familia prospera (sólo para las que aplique)" formControlName="IDProspera">
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
          <mat-form-field fxFlex.xs="100%" fxFlex.md="50">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="birthday" placeholder="Fecha de nacimiento" formControlName="birthday" required>
            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
            <mat-datepicker #birthday disabled="false"></mat-datepicker>
            <mat-error *ngIf="formPersonalData.get('birthday').invalid">
              {{ formPersonalData.get('birthday').errors | errorMessage }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex.xs="100%" fxFlex.md="50">
            <mat-select placeholder="Entidad de nacimiento" formControlName="birthdayEntity" required>
              <mat-option value="1">Chiapas -CS</mat-option>
            </mat-select>
            <mat-error *ngIf="formPersonalData.get('birthdayEntity').invalid">
              {{ formPersonalData.get('birthdayEntity').errors | errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
          <mat-form-field fxFlex.xs="100%" fxFlex.md="50">
            <mat-label>Fecha de solicitud</mat-label>
            <input matInput [matDatepicker]="requestDate" placeholder="Fecha de solicitud" formControlName="requestDate" required>
            <mat-datepicker-toggle matSuffix [for]="requestDate"></mat-datepicker-toggle>
            <mat-datepicker #requestDate disabled="false"></mat-datepicker>
            <mat-error *ngIf="formPersonalData.get('requestDate').invalid">
              {{ formPersonalData.get('requestDate').errors | errorMessage }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex.xs="100%" fxFlex.md="50">
            <mat-label>Número de dependientes</mat-label>
            <input matInput type="text" placeholder="Número de dependientes" formControlName="numberDependents">
            <mat-error *ngIf="formPersonalData.get('numberDependents').invalid">
              {{ formPersonalData.get('numberDependents').errors | errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="text-center">
  
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
            <div fxFlex.xs="100%">
              <br><br>
              ¿Habla alguna lengua indígena?
              <br><br>
              <mat-radio-group fxLayout fxLayoutAlign="space-evenly" formControlName="speakNativeLanguage">
                <mat-radio-button color="primary" [value]="true">Sí</mat-radio-button>
                <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100%">
              <br><br>
              ¿Padece de alguna discapacidad?
              <br><br>
              <mat-radio-group fxLayout fxLayoutAlign="space-evenly" formControlName="hasDisabilities">
                <mat-radio-button color="primary" [value]="true">Sí</mat-radio-button>
                <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
  
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
            <div fxFlex.xs="100%">
              <br><br>
              ¿Cuenta con acceso a internet?
              <br><br>
              <mat-radio-group fxLayout fxLayoutAlign="space-evenly" formControlName="hasInternet">
                <mat-radio-button color="primary" [value]="true">Sí</mat-radio-button>
                <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <div fxFlex.xs="100%">
              <br><br>
              ¿Es usuario de redes sociales?
              <br><br>
              <mat-radio-group fxLayout fxLayoutAlign="space-evenly" formControlName="useSocialNetworks">
                <mat-radio-button color="primary" [value]="true">Sí</mat-radio-button>
                <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
  
          <div class="text-center">
            <br><br>
            <button mat-raised-button matStepperNext type="button" color="primary">Siguiente</button>
          </div>
  
        </div>
      </div>

    </mat-step>
  </mat-vertical-stepper>
</form>
<!-- <div class="container m-t-40 m-b-40">

 <aw-wizard class="m-t-10" #wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step stepTitle="Title of step 1" [navigationSymbol]="{ symbol: '1' }">


      <div  fxLayoutAlign="center">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Company (disabled)" disabled value="Google">
                      </mat-form-field>
                    
                      <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="First name">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="Long Last Name That Will Be Truncated">
                        </mat-form-field></td>
                      </tr></table>
                    
                      <p>
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Address 2"></textarea>
                        </mat-form-field>
                      </p>
                    
                      <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="City">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="State">
                        </mat-form-field></td>
                        <td><mat-form-field class="example-full-width">
                          <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field></td>
                      </tr></table>
                    </form>
                    
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
            
         
        </div>


  </aw-wizard-step> -->
  <!-- <aw-wizard-step stepTitle="Title of step 2" [navigationSymbol]="{ symbol: '2' }" >
      <div class="col-sm-6 mx-auto">
          <div class="card mt-5">
        <div class="card-body">
              <form>
                <fieldset>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect2">Example multiple select</label>
                    <select multiple="" class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                  </div>
                  <fieldset class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                        Option one is this and that—be sure to include why it's great
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                        Option two can be something else and selecting it will deselect option one
                      </label>
                    </div>
                    <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="" type="radio">
                        Option three is disabled
                      </label>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <legend>Checkboxes</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" value="" checked="" type="checkbox">
                        Option one is this and that—be sure to include why it's great
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input class="form-check-input" value="" disabled="" type="checkbox">
                        Option two is disabled
                      </label>
                    </div>
                  </fieldset>
                </fieldset>
              </form>

              <button type="button" class="btn btn-primary float-left" awPreviousStep>Go to previous step</button>
              <button type="button" class="btn btn-primary float-right" awNextStep>Go to next step</button>
              </div>
            </div>
          </div>

  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3" [navigationSymbol]="{ symbol: '3' }">
    Content of Step 3
    <button type="button" class="btn btn-primary"  awPreviousStep>Previous Step</button>
    <button type="button" class="btn btn-primary" >Finish</button>
  </aw-wizard-step>
</aw-wizard>
</div> 
<div class="container">

 <aw-wizard class="mt-5" #wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step stepTitle="Title of step 1" [navigationSymbol]="{ symbol: '1' }">

          <div class="col-sm-6 mx-auto">
              <div class="card mt-5">
    <div class="card-body">
      <div class="form-group">
          <fieldset disabled="">
            <label class="control-label" for="disabledInput">Disabled input</label>
            <input class="form-control" id="disabledInput" placeholder="Disabled input here..." disabled="" type="text">
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="control-label" for="readOnlyInput">Readonly input</label>
            <input class="form-control" id="readOnlyInput" placeholder="Readonly input here…" readonly="" type="text">
          </fieldset>
        </div>

        <div class="form-group has-success">
          <label class="form-control-label" for="inputSuccess1">Valid input</label>
          <input value="correct value" class="form-control is-valid" id="inputValid" type="text">
          <div class="valid-feedback">Success! You've done it.</div>
        </div>

        <div class="form-group has-danger">
          <label class="form-control-label" for="inputDanger1">Invalid input</label>
          <input value="wrong value" class="form-control is-invalid" id="inputInvalid" type="text">
          <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
        </div>

        <div class="form-group">
          <label class="col-form-label col-form-label-lg" for="inputLarge">Large input</label>
          <input class="form-control form-control-lg" placeholder=".form-control-lg" id="inputLarge" type="text">
        </div>

        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Default input</label>
          <input class="form-control" placeholder="Default input" id="inputDefault" type="text">
        </div>

        <div class="form-group">
          <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
          <input class="form-control form-control-sm" placeholder=".form-control-sm" id="inputSmall" type="text">
        </div>

        <div class="form-group">
          <label class="control-label">Input addons</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary float-right" awNextStep>Next Step</button>
        </div>
      </div>
    </div>


  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 2" [navigationSymbol]="{ symbol: '2' }" >
     

  </aw-wizard-step>
  <aw-wizard-step stepTitle="Title of step 3" [navigationSymbol]="{ symbol: '3' }">
    Content of Step 3
    <button type="button" class="btn btn-primary"  awPreviousStep>Previous Step</button>
    <button type="button" class="btn btn-primary" >Finish</button>
  </aw-wizard-step> -->
<!-- </aw-wizard>
</div>  -->
